/*font-family: 'Avenir', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;*/
*{margin:0;padding:0}
.container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}
.item .el-form .el-form-item{
	margin-bottom: 0;
}